<% first_product = Product.first %>
<p>
	Product Name: "<%= first_product.name %>" costs $<%= first_product.price %>
</p>
<p>
	The seller for this product is named '<%= first_product.user.name %>'
</p>


<% cheap_product = Product.where('price > 1').first %>
<p>
	The product name is: '<%= cheap_product.name %>'
</p>
<p>
	The price is: '<%= cheap_product.price %>' and the owner is: '<%= cheap_product.user.name %>' 



<h2>Hello World</h2>
<h2> I AMA View </h2>
<p>
  Find me in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>

<% lots_of_products = Product.includes(:user).all %>
<ul>
	<% lots_of_products.each do |product| %>
		<li>
			Product Name: "<%= product.name %>"" costs $<%= product.price %>
			Sold by <%= product.user.name %>
		</li>
		<% end %>
</ul>
